CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y

# 仅编译亚瑟，关闭雅典娜等无关机型
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=n

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

# 彻底移除 LED 控制和下载相关组件
CONFIG_PACKAGE_luci-app-athena-led=n
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=n
CONFIG_PACKAGE_nginx-full=n
CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_luci-app-aria2=n